// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #dadada;
$white: #ffffff;
$dark-blue: #090c35;
$light-blue: #090c3517;
$smooth-blue: #648DE5;
$apricot :#fbc8b2;
$smooth-apricot : #f59369d3;
