
<div class="bg">
  <div class="form_title">
    <h2>Modifiez votre collaborateur</h2>
    <h3>Ici vous pouvez modifier l'ensemble des critères de votre employé(e)</h3>
  </div>
  <div class="scene">
    <div class="flipping_card">
        <%= render 'form', developer: @user %>
    </div>


<div class='container-form'>
  <div>
    <%= render 'form', developer: @user %>
  </div>
</div>
