  <div class="sidebar close">
      <ul class="nav_links" style="width: min-content;">
        <li>
          <a href="">
            <i class='bx bxs-dashboard'></i>
            <span class="link_name">Accueil</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class='bx bxs-pencil'></i>
            <span class="link_name">Planning de base</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class='bx bx-user-circle'></i>
            <span class="link_name">Votre équipe</span>
          </a>
        </li>
        <li>
          <a class='foo' href="">
            <i class='bx bxs-hand'></i>
            <span class="link_name">Modifications manuelles</span>
          </a>
        </li>
          <li>
            <a href="">
              <i class='bx bx-cog'></i>
              <span class="link_name">Réglages</span>
            </a>
          </li>
    </ul>
  </div>
  <div class="home_section">
    <div class="home_content">
      <div class="search_bar">
        <i class='bx bx-search-alt-2'></i><h3>Tapez votre recherche ici</h3>
      </div>
        <div class="profil_perso">
          <i class='bx bx-message-alt'></i>
          <img src="images/pp.jpeg" alt="" class="pp">
          <h3>Clément Moréno</h3>
      </div>
    </div>
  </div>
  <div class="modif_manuelle ">
    <div class="modif_contenu">
      <img src="images/pp.jpeg" alt="pp" class="sidebar_pp">
      <img src="images/pp.jpeg" alt="pp" class="sidebar_pp">
      <img src="images/pp.jpeg" alt="pp" class="sidebar_pp">
      <img src="images/pp.jpeg" alt="pp" class="sidebar_pp">
      <img src="images/pp.jpeg" alt="pp" class="sidebar_pp">
      <img src="images/pp.jpeg" alt="pp" class="sidebar_pp">
      <img src="images/pp.jpeg" alt="pp" class="sidebar_pp">
      <img src="images/pp.jpeg" alt="pp" class="sidebar_pp">
      <img src="images/pp.jpeg" alt="pp" class="sidebar_pp">
    </div>
  </div>
