<div class="container_cards">
  <div class="titre_presentation">
    <h2>Suivez la progression des votre équipe jour après jour</h2>
    <h3>Vous trouverez ici chaque employé, son nombre d'heures, triés par postes respectifs</h3>
  </div>
  <div class="search_bar_container">
            <div class="search_bar_container">
              <div class="search_bar" >
                <div class="search_icon" id="user_icon_searchbar">
                    <i class='bx bx-search-alt'></i>
                </div>
                <div class="input" id="user_input">
                  <%= form_with(url: search_user_path, method: :get, local: false,) do |f| %>
                    <%= f.text_field :name, placeholder: "Trouvez un employé",
                                            label: false,
                                            autocomplete: :off,
                                            input_html: { name: :name,
                                            value: params.dig(:name) } %>
                  <% end %>
                </div>
              </div>
            </div>
  <%= link_to new_user_path(@user), :class => 'bx bxs-plus-square' do  %>
    <h3>Ajoutez un employé</h3>
  <% end %>
  <div class="index_user_cards">
    <%= render 'shared/index_users_cards', users: @users %>
  </div>
</div>
