<div class="bg">
  <div class="form_title">
    <h2>Ajoutez un nouveau collaborateur</h2>
    <h3>Ici vous pouvez ajouter l'ensemble des critères de votre employé(e)</h3>
  </div>
  <div class="scene">
    <div class="flipping_card">
        <%= render 'form', developer: @user %>
    </div>
  </div>
</div>
