  <div class="home_section">
    <div class="home_content">
        <div class="profil_perso">
          <div class="notification">
            <i class='bx bx-message-alt'></i>
          </div>
          <%= image_tag 'pp.jpeg', class: 'pp' %>
          <h3>Clément Moréno</h3>
      </div>
    </div>
  </div>
  <div class="asking_modifications">
    <div class="asking_profil">
      <div class="profil">
      <%= image_tag 'pp.jpeg', class: 'pp' %>
      <div class="nom_et_statut">
        <h3>Clément Moréno</h3>
        <h4>CDI - 20heures</h4>
      </div>
      </div>
        <p>
        Demande pour le créneau de Mardi 15 Septembre
        </p>
      <div class="bouton_validation">
        <h4>Valider la demande</h4>
        <h4>Refuser la demande</h4>
      </div>
    </div>
  </div>
