  <div class="home_section">
    <div class="home_content">
      <div class="search_bar">
        <i class='bx bx-search-alt-2'></i><h3>Tapez votre recherche ici</h3>
      </div>
        <div class="profil_perso">
          <i class='bx bx-message-alt'></i>
          <%= image_tag 'pp.jpeg', class: 'pp' %>
          <h3>Clément Moréno</h3>
      </div>
    </div>
  </div>
