<div class="sidebar close">
      <ul class="nav_links" style="width: min-content;">
        <li>
            <i class='bx bxs-dashboard'></i>
            <%= link_to "Accueil",root_path, class: "link_name"%>
        </li>
        <li>
            <i class='bx bxs-user-circle'></i>
          <%= link_to "Votre équipe", users_path, class: "link_name"%>
          </a>
        </li>
        <li>
          <a class='foo' href="">
            <i class='bx bxs-hand'></i>
            <%= link_to "Modifications manuelles",root_path, class: "link_name"%>
          </a>
        </li>
    </ul>
  </div>
