<ul id="thumbnail_dragdrop">
  <% users.each do |user|  %>
    <div class="whole_profil_description">
      <li class="modif_contenu">
        <%= image_tag "pp.jpeg", class:"pp" %>
        <%= user.username %>
      </li>
    </div>
  <% end %>
</ul>
