<div id="thumbnail_dragdrop" >
<ul>
  <% users.each do |user|  %>
    <div class=fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event>
      <li class="modif_contenu thumbnail_dragdrop">
        <%= image_tag "pp.jpeg", class:"pp" %>
        <%= user.username %>
      </li>
    </div>
  <% end %>
</ul>
</div>
