<div id="thumbnail_dragdrop" >
<ul>
  <% users.each do |user|  %>
    <div class=fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event>
      <li class="modif_contenu thumbnail_dragdrop">
        <%= image_tag "pp.jpg", class:"pp" %>
        <h3 id="username"><%= user.username%></h3>
      </li>
    </div>
  <% end %>
</ul>
</div>
