<h1>Shifts#index</h1>
<p>Find me in app/views/shifts/index.html.erb</p>

<div class="calendar">
  <div id="calendar-day">
    <div id="menu">
      <span id="menu-navi">
        <button type="button" class="btn btn-default btn-sm move-today" id="current-day">Today</button>
        <button type="button" class="btn btn-default btn-sm move-day" id="move-prev-day"><div class="calendar-icon ic-arrow-line-left"></div>
        </button>
        <button type="button" class="btn btn-default btn-sm move-day" id="move-next-day"><div class="calendar-icon ic-arrow-line-right" ></div>
        </button>
      </span>
      <span id="renderRange" class="render-range"></span>
    </div>
  </div>
<div id="calendar-month"
     data-user_shifts="<%= @user_shifts.to_json %>">
  <div id="menu">
      <span id="menu-navi">
        <button type="button" class="btn btn-default btn-sm move-today" id="current-month">Current-month</button>
        <button type="button" class="btn btn-default btn-sm move-day" id="move-prev-month">
          <div class="calendar-icon ic-arrow-line-left"></div>
        </button>
        <button type="button" class="btn btn-default btn-sm move-day" id="move-next-month">
          <div class="calendar-icon ic-arrow-line-right" ></div>
        </button>
      </span>
      <span id="renderRange" class="render-range"></span>
    </div>
</div>
