.calendar{
  display: flex;
  justify-content: space-between;
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
}
.calendar.active{
  width: calc( 100vw - 115px);
}
.calendar.open{
  width: calc( 100vw - 255px);
}
#calendar-day{
  width: 34%;
  height: 100%;
  margin-right: 10px;
  margin-left: 5rem;
}
#calendar-month{
  width:66%;
  height: 100%;
}

#menu-navi{
  display: flex;
  justify-content: center;
  align-items: center;
}
#left_arrow_day{
  transform: rotate(90deg);
  font-size: 25px;
  color: $yellow;
  cursor: pointer;
}
#right_arrow_day{
    transform: rotate(270deg);
    font-size: 25px;
    color: $yellow;
    cursor: pointer;
}
#left_arrow_month{
  transform: rotate(90deg);
  font-size: 25px;
  color: $yellow;
  cursor: pointer;
}
#right_arrow_month{
    transform: rotate(270deg);
    font-size: 25px;
    color: $yellow;
    cursor: pointer;
}
#menu-navi h2{
  margin : 0 15px;
}
#renderRange {
  padding-left: 12px;
  font-size: 19px;
  vertical-align: middle;
}

.schedule-time {
    color: #005aff;
}
