h4{
  font-family: 'poppins';
  font-size: 12px;
}
.modif_manuelle{
  width: 100px;
  position: fixed;
  right: 0;
  height: calc(100vh - 80px);
  transform: translateX(100%);
  transition: all ease 0.6s ;
  bottom: 0;
  overflow-y: scroll;

    ::-webkit-scrollbar {
      display: none;
  }
}
.modif_manuelle h3{
  display: none;
}

.modif_manuelle.open{
    width: 100px;
    z-index : 99;
    transform: translateX(0%);
    transition: all 0.3s ease;
}

.modif_manuelle.open.active{
    width: 250px;
    z-index : 99;
    transition: all 0.3s ease;
}

.modif_contenu {
    overflow-y: scroll;
    display: flex;
    background: #FFC65A;
    padding: 10px 0px;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 70px);
    box-sizing: border-box;
    scrollbar-width: none;

      ::-webkit-scrollbar {
  display: none;
  }
}

.modif_manuelle.open .thumbnail_perso  h4{
      display: none;
      transition: all ease 0.6s;
}
.modif_manuelle.open.active .thumbnail_perso {
      display: flex;
    align-items: center;
    margin-bottom: 25px;
    gap: 10px;
    opacity: 1;
  #username{
    display:none;
  }
}
.modif_manuelle.open h4{
display: none;
}

.modif_manuelle.open.active h4{
    display: block;
    margin-left: 5px;
    width: 80px;
}

.modif_manuelle.open.active .whole_profil_description{
    display: flex;
    align-items: center;
    width: 92%;
    transition: all ease 1s;
    justify-content: center;
}

.modif_contenu .thumbnail_dragdrop .pp{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
}

.modif_contenu .thumbnail_dragdrop #username{
  display: none;
  font-weight: bold;
}

.modif_manuelle.open.active .modif_contenu .thumbnail_dragdrop #username{
  display: block;
}

li{
  display: flex;
  align-items: center;
}

.sidebar_profil_picture{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
