h4{
  font-family: 'poppins';
  font-size: 12px;
}
.modif_manuelle{
  width: 100px;
  position: fixed;
  right: 0;
  height: calc(100vh - 80px);
  transform: translateX(100%);
  transition: all ease 0.6s ;
  bottom: 0;
  overflow-y: scroll;
  h4{
    display: none;
  }
}

.modif_manuelle::-webkit-scrollbar {
  display: none;
}

.modif_manuelle.open{
    width: 100px;
    transform: translateX(0%);
    transition: all 0.6s ease;
}
.modif_manuelle.open.active{
    width: 250px;
    transition: all 0.4s ease;
}
.modif_contenu{
    display: flex;
    background: #090c3517;
    border-left: 2px solid rgba(177, 177, 177, 0.274);
    padding: 15% 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sidebar_pp{
  display: none;
}
.sidebar_app{
  display: block;
  width: 60px;
  height: 60px;
  border-radius : 50%;
  object-fit: cover;
}
.modif_manuelle.open .thumbnail_perso  h4{
      display: none;
      transition: all ease 0.8s;
}
.modif_manuelle.open.active .thumbnail_perso {
      display: flex;
    align-items: center;
    margin-bottom: 25px;
    gap: 10px;
    opacity: 1;

}
.modif_manuelle.open h4{
display: none;
}
.modif_manuelle.open.active h4{
  display: block;
  margin-left: 5px;

}
.modif_manuelle.open.active .whole_profil_description{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    transition: all ease 1.8s;
}
